.heroSection {
    background-color: #ddd7d7e4;
    background-image: url("../public/images/hero-section-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 37.5em;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #0c0c0c41;
}

@media (max-width: 405px) {
    .heroSection {
        background-size: cover;
        background-position: 0%;
        background-image: url("../public/images/hero-section-bg-sm.svg");
        height: 37.5em;
    }
}

@media (min-width: 600px) {
    .heroSection {
        background-position: 25%;
        height: 37.5em;
    }
}

@media (min-width: 1041px) {
    .heroSection {
        background-position: 25% 2%;
        height: 37.5em;
    }
}