.heroSection {
    background-color: #ddd7d7e4;
    background-image: url("../public/images/hero-section-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 599px;
}

@media (max-width: 405px) {
    .heroSection {
        background-size: cover;
        background-position: 0%;
        background-image: url("../public/images/hero-section-bg-sm.svg");
        height: 599px;
    }
}

@media (min-width: 600px) {
    .heroSection {
        background-position: 25%;
        height: 599px;
    }
}

@media (min-width: 1041px) {
    .heroSection {
        background-position: 25% 2%;
        height: 599px;
    }
}