.howItWorksSection {
    background-color: var(--white-section-bg-color);
    padding: 2em 1.5em;
}

.howItWorksContainer {
    display: flex;
    padding: 0px;
}

.howItWorksSectionImage {
    display: none;
    position: relative;
}

.howItWorksMainContainer h2 {
    color: var(--title-main-color);
    text-align: center;
    margin: 0px;
    font-size: 1.4em;
}

.howItWorksMainContainer h2 span {
    color: var(--title-sub-color);
}

.howItWorksMainContainer p {
    color: var(--text-color);
    font-size: .9em;
    text-align: center;
}



.lineSeparator {
    display: block;
    width: 6em;
    height: 1em;
    margin: .4em auto;
}

.howItWorksStepsContainer {
    margin-top: 2em;
}

.howItWorksStep {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.howItWorksStep img {
    width: 1.5em;
}

.howItWorksStep p {
    flex-grow: 9;
    font-size: .9em;
    text-align: left;
    margin-left: 1em;
}


@media(min-width:600px) {
    .howItWorksSection {
        background-color: var(--ash-section-bg-color);
        padding: 0px;
    }

    .howItWorksContainer {
        align-items: stretch;
        justify-content: center;
        gap: 1.5em;
        /* height: 18em; */
    }

    .howItWorksSectionImage {
        display: block;
        width: 55%;
        padding: 0px;
    }

    .howItWorksSectionImage img {
        width: 84%;
        height: 17em;
        margin-left: 16%;
        margin-top: 1.2em;
        margin-bottom: 0px;
        object-fit: cover;
        object-position: 100% calc(16.7em * -0.07);
        /* background-color: blue; */
    }

    .howItWorksMainContainer {
        width: 45%;
        padding-top: 3em;
        padding-right: 0.8em;
    }

    .howItWorksMainContainer h2 {
        text-align: left;
        margin: 1em 0px 0px 0px;
        font-size: .8em;
    }

    .howItWorksMainContainer p {
        font-size: .6em;
        line-height: 1.5em;
        text-align: left;
    }

    .lineSeparator {
        display: block;
        width: 6em;
        height: 1em;
        margin: .4em 0px;
    }

    .howItWorksStepsContainer {
        margin-top: 1em;
        width: 11em;
    }


    .howItWorksStep img {
        width: 1.5em;
    }

    .howItWorksStep p {
        flex-grow: 9;
        font-size: .4em;
        text-align: left;
        margin-left: 1em;
        line-height: 1.8em;
    }


}

@media(min-width:605px) {
    .howItWorksSectionImage img {
        height: 17.3em;
    }
}

@media(min-width:614px) {
    .howItWorksSectionImage img {
        height: 17.6em;
    }
}

@media(min-width:620px) {
    .howItWorksSectionImage img {
        height: 17.7em;
    }
}

@media(min-width:630px) {
    .howItWorksSectionImage img {
        height: 17.9em;
    }
}

@media(min-width:630px) {
    .howItWorksSectionImage img {
        height: 18.5em;
    }
}

@media (min-width:650px) {
    .howItWorksStepsContainer {
        margin-top: 1em;
        width: 12em;
    }

    .howItWorksMainContainer h2 {
        font-size: .9em;
        margin: 1.3em 0px 0px 0px;
    }

    .howItWorksStep img {
        width: 1.4em;
    }

    .howItWorksStep p {
        font-size: .5em;
        margin-left: 0.8em;
        line-height: 1.5em;
    }
}

@media(min-width:660px) {
    .howItWorksSectionImage img {
        height: 19em;
    }
}

@media(min-width:670px) {
    .howItWorksSectionImage img {
        height: 19.5em;
    }
}

@media(min-width:680px) {
    .howItWorksSectionImage img {
        height: 20em;
    }
}

@media(min-width:700px) {
    .howItWorksSectionImage img {
        height: 20.5em;
    }

    .howItWorksStepsContainer {
        margin-top: .8em;
        width: 13em;
    }

    .howItWorksMainContainer h2 {
        font-size: .9em;
    }

    .howItWorksStep img {
        width: 1.5em;
    }

    .howItWorksStep p {
        font-size: .6em;
        margin-left: 0.8em;
        line-height: 1.5em;
    }
}

@media(min-width:720px) {
    .howItWorksSectionImage img {
        height: 21em;
    }
}

@media(min-width:731px) {
    .howItWorksSectionImage img {
        height: 21.5em;
    }
}

@media(min-width:741px) {
    .howItWorksSectionImage img {
        height: 22em;
    }
}

@media(min-width:761px) {
    .howItWorksSectionImage img {
        height: 22.5em;
    }
}

@media(min-width:783px) {
    .howItWorksSectionImage img {
        height: 23em;
    }
}

@media(min-width:801px) {
    .howItWorksSectionImage {
        width: 50%;
    }

    .howItWorksSectionImage img {
        height: 22em;
    }

    .howItWorksStepsContainer {
        margin-top: 1em;
        width: 14em;
    }

    .howItWorksMainContainer h2 {
        font-size: 1em;

    }

    .howItWorksStep img {
        width: 1.7em;
    }

    .howItWorksStep p {
        font-size: .6em;
        margin-left: 0.8em;
        line-height: 1.5em;
    }
}

@media(min-width:821px) {
    .howItWorksSectionImage img {
        height: 22.5em;
    }
}

@media(min-width:841px) {
    .howItWorksSectionImage img {
        height: 23em;
    }
}

@media(min-width:851px) {
    .howItWorksSectionImage img {
        height: 23.5em;
    }
}

@media(min-width:861px) {
    .howItWorksSectionImage img {
        height: 24em;
    }
}

@media(min-width:881px) {
    .howItWorksSectionImage img {
        height: 24.5em;
    }
}

@media (min-width:890px) {
    .howItWorksStepsContainer {
        margin-top: 1em;
        width: 14em;
    }

    .howItWorksMainContainer h2 {
        font-size: 1em;
    }

    .howItWorksStep img {
        width: 1.8em;
    }

    .howItWorksStep p {
        font-size: .6em;
        margin-left: 0.8em;
        line-height: 1.5em;
    }
}

@media(min-width:900px) {
    .howItWorksSectionImage img {
        height: 25em;
    }
}

@media(min-width:920px) {
    .howItWorksSectionImage img {
        height: 25.5em;
    }
}

@media(min-width:930px) {
    .howItWorksSectionImage img {
        height: 26em;
    }
}

@media(min-width:950px) {
    .howItWorksSectionImage img {
        height: 26.5em;
    }
}

@media(min-width:961px) {
    .howItWorksSectionImage img {
        height: 27em;
    }
}

@media(min-width:971px) {
    .howItWorksSectionImage img {
        height: 27.5em;
    }

    .howItWorksStepsContainer {
        margin-top: 1em;
        width: 16em;
    }

    .howItWorksMainContainer h2 {
        font-size: 1.3em;
    }

    .howItWorksStep img {
        width: 1.8em;
    }

    .howItWorksStep p {
        font-size: .8em;
        margin-left: 0.8em;
        line-height: 1.5em;
    }
}

@media(min-width:991px) {
    .howItWorksSectionImage img {
        height: 28em;
    }
}

@media(min-width:1002px) {
    .howItWorksContainer {
        align-items: stretch;
        justify-content: center;
        gap: 2.5em;
        /* height: 18em; */
    }

    /* .howItWorksSectionImage img {
        height: 28.5em;
    } */

    .howItWorksStepsContainer {
        margin-top: 1em;
        width: 19em;
    }

    .howItWorksMainContainer h2 {
        font-size: 1.5em;
    }

    .howItWorksStep img {
        width: 1.9em;
    }

    .howItWorksStep p {
        font-size: .8em;
        margin-left: 0.8em;
        line-height: 1.5em;
    }
}

@media(min-width:1021px) {
    .howItWorksSectionImage img {
        height: 28.5em;
    }
}

@media(min-width:1041px) {
    .howItWorksSectionImage img {
        height: 28.7em;
    }
}

@media(min-width:1061px) {
    .howItWorksSectionImage img {
        height: 29.2em;
    }
}

@media(min-width:1071px) {
    .howItWorksSectionImage img {
        height: 30em;
    }
}

@media(min-width:1091px) {
    .howItWorksSectionImage img {
        height: 30.3em;
    }
}

@media(min-width:1100px) {
    .howItWorksSectionImage img {
        height: 30.8em;
    }
}

@media(min-width:1129px) {
    .howItWorksSectionImage img {
        height: 31.2em;
    }
}

@media(min-width:1139px) {
    .howItWorksSectionImage img {
        height: 31.7em;
    }
}

@media(min-width:1150px) {
    .howItWorksSectionImage img {
        height: 31.9em;
    }
}

@media(min-width:1170px) {
    .howItWorksSectionImage img {
        height: 32.3em;
    }
}

@media(min-width:1181px) {
    .howItWorksSectionImage img {
        height: 32.7em;
    }
}

@media(min-width:1191px) {
    .howItWorksSectionImage img {
        height: 33.2em;
    }
}




@media(min-width:1205px) {

    .howItWorksContainer {
        align-items: stretch;
        justify-content: center;
        gap: 4em;
        /* height: 18em; */
    }
}